.gif {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border-radius: 0px;
  outline: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  position: relative;
  width: 870px;
  flex-wrap: wrap;
  overflow: hidden;

  &__image-container {
    margin: 8px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    position: relative;
    vertical-align: baseline;
    position: relative;
  }

  &__image {
    color: rgb(255, 255, 255);
    border-radius: 8px;
    height: 200px;
    width: 200px;
  }
}
