#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
  border: 0px;
  padding: 10px 0 0 0;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 499;
}

#navigationbar-container {
  display: flex;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  height: 70px;
  padding: 10px 0px 0px;
  position: relative;
  z-index: 499;
}

.logo-container {
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  margin-top: 12px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.giphy-logo {
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  color: rgb(255, 255, 255);
  font: inherit;
  border-radius: 0px;
  border: 0px;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  width: 164px;
}

.gif-logo {
  display: none;
}

.navigation-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 49.25%; */
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  outline: none;
  text-decoration: none;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  margin: 10px 0px 0px 14px;
  width: 496px;
}

ul {
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  outline: none;
  text-decoration: none;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateZ(0px);
  background-position-x: 219px;
  width: 100%;
  height: 36px;
  cursor: pointer;
}

ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(
      to right,
      rgb(0, 204, 255),
      rgb(153, 51, 255) 31%,
      rgb(230, 70, 182) 52%,
      rgb(255, 249, 170) 77%,
      rgb(0, 255, 153),
      rgb(0, 204, 255)
    )
    0% 50% / 200% 50%;
}

.menu-item-container {
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  list-style: none;
  border-radius: 0px;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
  float: left;
  height: 36px;
  border-right: 4px solid rgb(18, 18, 18);
  position: relative;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  text-transform: capitalize;
}

.menu-item-container:hover {
  background: #3167b7;
}

.menu-link {
  letter-spacing: 0px;
  list-style: none;
  text-transform: capitalize;
  border-radius: 0px;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-ellipsis-container {
  letter-spacing: 0px;
  list-style: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  font-family: interface;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-ellipsis-container:hover {
  background: #3167b7;
}

.ellipsis-icon {
  font-size: 15px;
  width: 15px;
  height: 15px;
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 14px;
  /* width: 15.01%; */
  height: 30px;
  border-radius: 2px;
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  background-position-x: -11.3333px;
}

.upload-btn {
  outline: 0;
  background: 0 0;
  border: 0;
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  margin: 0px;
  border: 0px;
  font: inherit;
  color: rgb(255, 255, 255);
  border-right: 4px solid #000;
  padding: 7px 5px;
  display: flex;
  text-transform: capitalize;
  cursor: pointer;
}

.create-btn {
  list-style: none;
  border-radius: 0px;
  outline: none;
  background: 0 0;
  margin: 0px;
  border: 0px;
  font: inherit;
  color: rgb(255, 255, 255);
  margin-left: 0px;
  padding: 8.5px 10px;
  padding: 7px 5px;
  display: flex;
  text-transform: capitalize;
  cursor: pointer;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 16.43%;
  height: 30px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  padding: 0px;
  border: 0px;
  font: inherit;
  margin: 10px 0px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: relative;
  margin-left: 14px;
  cursor: pointer;
}

.fauser {
  color: rgb(255, 255, 255);
  border-radius: 0px;
  outline: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  display: flex;
  height: 30px;
  width: 27.24%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #525252;
  cursor: pointer;
}

.login-btn {
  color: rgb(255, 255, 255);
  border-radius: 0px;
  outline: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: inherit;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  overflow: hidden;
  text-align: center;
  font-size: inherit;
  user-select: none;
  flex: 1 1 0%;
  background-color: #3e3e3e;
  cursor: pointer;
}

.explore-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;
  padding: 0px;
  font-size: inherit;
  margin: 10px 0 15px 0;
  position: relative;
  width: 100%;
}

.explore-contents {
  text-align: left;
  font: inherit;
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  display: block;
}

.explore-gifs {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font: inherit;
  vertical-align: baseline;
  color: #00e6cc;
}

@media only screen and (min-width: 414px) and (max-width: 667px) {
  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    width: 400px;
  }

  .navigation-list-container {
    display: none;
  }

  .giphy-logo {
    display: none;
  }

  .gif-logo {
    display: block;
    width: 380px;
  }

  .upload-container {
    display: none;
  }

  .login-container {
    display: none;
  }

  .explore-container {
    display: flex;
    width: 380px;
  }

  .explore-gifs {
    color: #00e6cc;
  }
}

@media only screen and (max-width: 375px) {
  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    width: 320px;
  }

  .navigation-list-container {
    display: none;
  }

  .giphy-logo {
    display: none;
  }

  .upload-container {
    display: none;
  }

  .login-container {
    display: none;
  }

  .gif-logo {
    display: block;
    width: 295px;
  }

  .upload-container {
    display: none;
  }

  .login-container {
    display: none;
  }

  .explore-container {
    display: flex;
    width: 295px;
  }

  .explore-contents {
    text-align: left;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    display: block;
  }

  .explore-gifs {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    color: #00e6cc;
  }
}
