.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
  border: 0px;
  padding: 10px 0 0 0;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 499;
  overflow: hidden;

  &__content {
    display: flex;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-align: left;
    list-style: none;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    border: 0px;
    font: inherit;
    width: 100%;
    height: 70px;
    padding: 10px 0px 0px;
    position: relative;
    z-index: 499;
  }

  &__logo-container {
    letter-spacing: 0px;
    text-align: left;
    list-style: none;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-top: 12px;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  }

  &__giphy-logo {
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    border: 0px;
    outline: none;
    -webkit-font-smoothing: antialiased;
    width: 164px;
  }

  &__gif-small-logo {
    display: none;
  }

  &__menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 49.25%; */
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-align: left;
    list-style: none;
    outline: none;
    text-decoration: none;
    padding: 0px;
    border: 0px;
    font: inherit;
    margin: 10px 0px 0px 14px;
    width: 496px;
  }

  &__menu-list {
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-align: left;
    outline: none;
    text-decoration: none;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    vertical-align: baseline;
    list-style: none;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateZ(0px);
    background-position-x: 219px;
    width: 100%;
    height: 36px;
    cursor: pointer;
  }

  &__menu-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    width: 99.2%;
    background: linear-gradient(
        to right,
        rgb(0, 204, 255),
        rgb(153, 51, 255) 31%,
        rgb(230, 70, 182) 52%,
        rgb(255, 249, 170) 77%,
        rgb(0, 255, 153),
        rgb(0, 204, 255)
      )
      0% 50% / 200% 50%;
  }

  &__menu-list-item {
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    list-style: none;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    cursor: pointer;
    height: 36px;
    border-right: 4px solid rgb(18, 18, 18);
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    text-transform: capitalize;
  }

  &__menu-list-item:hover {
    background: #3167b7;
  }

  &__menu-link {
    letter-spacing: 0px;
    list-style: none;
    text-transform: capitalize;
    border-radius: 0px;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu-ellipsis-container {
    letter-spacing: 0px;
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    font-family: interface;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__gif--sticker-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-align: left;
    list-style: none;
    border-radius: 0px;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    margin-top: 10px;
    margin-left: 14px;
  }

  &__stickers-container {
    letter-spacing: 0px;
    text-align: left;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    color: rgb(255, 255, 255);
    padding: 8.5px 16px;
    display: inline-block;
    border-radius: 2px;
    background-size: 400% !important;
    background: linear-gradient(
      263.31deg,
      rgb(153, 51, 255) -97.49%,
      rgb(97, 87, 255) 94.14%
    );
    margin-right: 4px;
    background-position-x: -108px;
  }

  &__stickers-btn {
    letter-spacing: 0px;
    text-align: left;
    list-style: none;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    background: 0 0;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    padding: 0px;
    font-size: inherit;
    margin: 10px 0 15px 0;
    position: relative;
    width: 100%;
  }

  &__explore-content {
    text-align: left;
    font: inherit;
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    display: block;
  }

  &__explore-gif-text {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    color: #00e6cc;
  }
}
