.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
  border: 0px;
  padding: 10px 0 0 0;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 499;
  overflow: hidden;
}
.navigation__content {
  display: flex;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  border: 0px;
  font: inherit;
  width: 100%;
  height: 70px;
  padding: 10px 0px 0px;
  position: relative;
  z-index: 499;
}
.navigation__logo-container {
  border-radius: 0px;
  outline: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  margin-top: 12px;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.navigation__giphy-logo {
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  border: 0px;
  outline: none;
  width: 164px;
}
.navigation__gif-small-logo {
  display: none;
}
.navigation__menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  outline: none;
  text-decoration: none;
  padding: 0px;
  border: 0px;
  font: inherit;
  margin: 10px 0px 0px 14px;
  width: 58.559%;
}
.navigation__menu-list {
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  outline: none;
  text-decoration: none;
  padding: 0px;
  border: 0px;
  font-size: 15px;
  vertical-align: baseline;
  list-style: none;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateZ(0px);
  background-position-x: 219px;
  width: 100%;
  cursor: pointer;
}
.navigation__menu-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  width: 99.2%;
  background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%, rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50%/200% 50%;
}
.navigation__menu-list-item {
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  list-style: none;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  cursor: pointer;
  height: 36px;
  border-right: 4px solid rgb(18, 18, 18);
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  align-items: center;
  text-transform: capitalize;
}
.navigation__menu-list-item:hover {
  background: #3167b7;
}
.navigation__menu-link {
  letter-spacing: 0px;
  list-style: none;
  text-transform: capitalize;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__menu-ellipsis-container {
  letter-spacing: 0px;
  list-style: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  font-family: interface;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__gif--sticker-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  margin-top: 10px;
  margin-left: 14px;
}
.navigation__stickers-container {
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  color: rgb(255, 255, 255);
  padding: 8.5px 16px;
  display: inline-block;
  border-radius: 2px;
  background-size: 400% !important;
  background: linear-gradient(263.31deg, rgb(153, 51, 255) -97.49%, rgb(97, 87, 255) 94.14%);
  margin-right: 4px;
  background-position-x: -108px;
}
.navigation__stickers-btn {
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  background: 0 0;
  text-transform: capitalize;
  cursor: pointer;
}
.navigation__explore-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;
  padding: 0px;
  font-size: inherit;
  margin: 10px 0 15px 0;
  position: relative;
  width: 100%;
}
.navigation__explore-content {
  text-align: left;
  font: inherit;
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  display: block;
}
.navigation__explore-gif-text {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font: inherit;
  vertical-align: baseline;
  color: #00e6cc;
}

@media only screen and (min-width: 614px) and (max-width: 844px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
    justify-content: center;
    width: 100%;
    max-width: 614px;
    position: relative;
    z-index: 499;
    overflow: hidden;
  }
  .navigation__content {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
  }
  .navigation__logo-container {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-top: 12px;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  }
  .navigation__giphy-logo {
    color: rgb(255, 255, 255);
    border: 0px;
    outline: none;
    width: 105px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navigation__gif-small-logo {
    display: none;
  }
  .navigation__menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 10px 0px 0px 14px;
  }
  .navigation__menu-list {
    font-size: 13px;
    vertical-align: baseline;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateZ(0px);
    background-position-x: 219px;
    width: 100%;
    cursor: pointer;
  }
  .navigation__menu-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    width: 99%;
    background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%, rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50%/200% 50%;
  }
  .navigation__menu-list-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    align-items: center;
  }
  .navigation__menu-list-item:hover {
    background: #3167b7;
  }
  .navigation__menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation__menu-ellipsis-container {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation__gif--sticker-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 14px;
  }
  .navigation__stickers-container {
    margin: 0px;
    border: 0px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: 6.5px 14px;
    display: inline-block;
    border-radius: 2px;
    background-size: 400% !important;
    background: linear-gradient(263.31deg, rgb(153, 51, 255) -97.49%, rgb(97, 87, 255) 94.14%);
    margin-right: 4px;
    background-position-x: -108px;
  }
  .navigation__stickers-btn {
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: 0 0;
    text-transform: capitalize;
    cursor: pointer;
  }
  .navigation__explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    padding: 0px;
    font-size: inherit;
    margin: 10px 0 15px 0;
    position: relative;
    width: 100%;
  }
  .navigation__explore-content {
    display: block;
    font-size: 32px;
  }
  .navigation__explore-gif-text {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    color: #00e6cc;
  }
}
@media only screen and (min-width: 375px) and (max-width: 613px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 10px 0 0 0;
    justify-content: center;
    width: 100%;
    max-width: 351px;
    position: relative;
    z-index: 499;
    overflow: hidden;
  }
  .navigation__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .navigation__logo-container {
    display: none;
  }
  .navigation__gif-small-logo {
    display: flex;
    border: 0px;
    outline: none;
    width: 164px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navigation__menu-container {
    display: none;
  }
  .navigation__explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    padding: 0px;
    font-size: inherit;
    margin: 10px 0 15px 0;
    position: relative;
    width: 100%;
  }
  .navigation__explore-content {
    display: block;
    font-size: 32px;
  }
  .navigation__explore-gif-text {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    color: #00e6cc;
  }
}/*# sourceMappingURL=NavBar.css.map */