* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0d0c;
  font-family: interface, "Helvetica Neue", helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.giphy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 670px;
  min-height: 212px;
  margin: 0 auto;
  overflow: hidden;
}

/* Media Query */

@media screen and (max-width: 667px) {
  body {
    width: 100%;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .giphy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 100%;
    min-height: 212px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media only screen and (max-width: 375px) {
  .giphy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 375px;
    min-height: 212px;
    margin: 0 auto;
    overflow: hidden;
  }
}
